
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<link href="~/Content/css2/CSSCalendar.css" rel="stylesheet" />
<div class="aaa">
    <h1>TRANG CHỦ</h1>
</div>

<style>
    #list-menu {
        display: none;
    }
    
    div.aaa{
        text-align:center;
        color: red;
    }


</style>
<div class="row" id="list-menu1">
    <div class="col-md-2 col-sm-6">
        <div class="widget stats-widget">
            <div class="widget-body clearfix">
                <div class="pull-left">
                    @{ decimal TongDoanhThu = decimal.Parse(ViewBag.TongDoanhThu.ToString());}
                    <h3 class="widget-title text-primary"><span class="counter" data-plugin="counterUp">@TongDoanhThu.ToString("#,##")</span> đồng</h3>
                    <small class="text-color">Doanh thu</small>
                </div>
                <span class="pull-right big-icon watermark"><i class="fa fa-money"></i></span>
            </div>
            <footer class="widget-footer bg-primary">
                @*<small>% charge</small>*@
                <span class="small-chart pull-right" data-plugin="sparkline" data-options="[4,3,5,2,1], { type: 'bar', barColor: '#ffffff', barWidth: 5, barSpacing: 2 }"><canvas width="33" height="16" style="display: inline-block; width: 33px; height: 16px; vertical-align: top;"></canvas></span>
            </footer>
        </div><!-- .widget -->
    </div>

    <div class="col-md-2 col-sm-6">
        <div class="widget stats-widget">
            <div class="widget-body clearfix">
                <div class="pull-left">
                    <h3 class="widget-title text-danger"><span class="counter" data-plugin="counterUp">@ViewBag.TongDonHang</span> đơn</h3>
                    <small class="text-color">Tổng đơn hàng</small>
                </div>
                <span class="pull-right big-icon watermark"><i class="fa fa-list"></i></span>
            </div>
            <footer class="widget-footer bg-danger">
                @*<small>% charge</small>*@
                <span class="small-chart pull-right" data-plugin="sparkline" data-options="[1,2,3,5,4], { type: 'bar', barColor: '#ffffff', barWidth: 5, barSpacing: 2 }"><canvas width="33" height="16" style="display: inline-block; width: 33px; height: 16px; vertical-align: top;"></canvas></span>
            </footer>
        </div><!-- .widget -->
    </div>

    <div class="col-md-2 col-sm-6">
        <div class="widget stats-widget">
            <div class="widget-body clearfix">
                <div class="pull-left">
                    <h3 class="widget-title text-danger"><span class="counter" data-plugin="counterUp">@ViewBag.TongThanhVien</span> người</h3>
                    <small class="text-color">Tổng thành viên</small>
                </div>
                <span class="pull-right big-icon watermark"><i class="fa fa-user"></i></span>
            </div>
            <footer class="widget-footer bg-pink">
                @*<small>% charge</small>*@
                <span class="small-chart pull-right" data-plugin="sparkline" data-options="[1,2,3,5,4], { type: 'bar', barColor: '#ffffff', barWidth: 5, barSpacing: 2 }"><canvas width="33" height="16" style="display: inline-block; width: 33px; height: 16px; vertical-align: top;"></canvas></span>
            </footer>
        </div><!-- .widget -->
    </div>

    <div class="col-md-2 col-sm-6">
        <div class="widget stats-widget">
            <div class="widget-body clearfix">
                <div class="pull-left">
                    <h3 class="widget-title text-success"><span class="counter" data-plugin="counterUp">@ViewBag.SoNguoiOnline</span> người</h3>
                    <small class="text-color">Số người online</small>
                </div>
                <span class="pull-right big-icon watermark"><i class="fa fa-comment"></i></span>
            </div>
            <footer class="widget-footer bg-success">
                @*<small>% charge</small>*@
                <span class="small-chart pull-right" data-plugin="sparkline" data-options="[2,4,3,4,3], { type: 'bar', barColor: '#ffffff', barWidth: 5, barSpacing: 2 }"><canvas width="33" height="16" style="display: inline-block; width: 33px; height: 16px; vertical-align: top;"></canvas></span>
            </footer>
        </div><!-- .widget -->
    </div>

    <div class="col-md-2 col-sm-6">
        <div class="widget stats-widget">
            <div class="widget-body clearfix">
                <div class="pull-left">
                    <h3 class="widget-title text-warning"><span class="counter" data-plugin="counterUp">@ViewBag.SoNguoiTruyCap</span> người</h3>
                    <small class="text-color">Lượng người truy cập</small>
                </div>
                <span class="pull-right big-icon watermark"><i class="fa fa-eye"></i></span>
            </div>
            <footer class="widget-footer bg-warning">
                @*<small>% charge</small>*@
                <span class="small-chart pull-right" data-plugin="sparkline" data-options="[5,4,3,5,2],{ type: 'bar', barColor: '#ffffff', barWidth: 5, barSpacing: 2 }"><canvas width="33" height="16" style="display: inline-block; width: 33px; height: 16px; vertical-align: top;"></canvas></span>
            </footer>
        </div><!-- .widget -->
    </div>
</div>